<div class="container jumbotron">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <p class="navbar-right">
          logged in as <%= @username %>
          <a class="btn btn-primary btn-default buffer-7" role="button" href="/logout">Logout</a>
        </p>
      </div>
    </div>
  <h1><%= "Question: #{@card.question}" %></h1>
  <p><%= "#{@round.guesses.count +1} of #{@round.target_questions}: #{@card.question}" %></p>
  <p><%= "Correct = #{@round.correct_count}" %></p>
  <form name="input" action="/rounds/quiz" method="post">
    Answer: <input type="text" name="answer" value= <%= "\"#{@card.answer}\"" %>>
    <input type="submit" value="Submit" class="btn btn-default side-buffer-6">
  </form>

</div>



