<div class="container jumbotron">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <p class="navbar-right">
          logged in as <%= @username %>
          <a class="btn btn-primary btn-default buffer-7" role="button" href="/logout">Logout</a>
        </p>
      </div>
    </div>
  <h2 id="quiz_deck_name"> <%= @deck.name %> </h2>
  <h1 id="quiz_question"><%= @card.question %></h1>
  <p id="questions_remaining"><%= "#{@round.guesses.count +1} of #{@round.target_questions}" %></p>
  <p id="questions_correct"><%= "Correct = #{@round.correct_count}" %></p>

  <form id="answer_form" name="input" action="/rounds/quiz" method="post">
    Answer: <input id="answer" type="text" name="answer">
    <input type="submit" value="Submit" class="btn btn-default side-buffer-6">
  </form>

</div>



