<div class="container jumbotron">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <p class="navbar-right">
          logged in as <%= @username %>
          <a class="btn btn-primary btn-default buffer-7" role="button" href="/logout">Logout</a>
        </p>
      </div>
    </div>
  <h1>Awesome Flashcards!</h1>
  <h4><span class="glyphicon glyphicon-ok"></span>  Quiz DONE!!!</h4>
  <h4> <%= (@round.score.to_f * 100).round.to_s + "%" %> correct.</h4>
  <p class="btn btn-default"><a href='/rounds/new'>Start New Game</a></p><br><br>
  <p class="btn btn-default"><a href='/rounds/view'>View All Rounds</a></p><br><br>

  <table class="table table-striped">
    <tr>
      <td style="width: 150px;">Question</td>
      <td style="width: 150px;">Answer</td>
      <td style="width: 150px;">Correct?</td>
    </tr>

    <% @round.guesses.each do |guess| %>
      <tr>
        <td><%= guess.card.question %></td>
        <td><%= guess.answer %></td>
        <td><%= guess.correct? %></td>
      </tr>
    <% end %>
  </table>


</div>
